{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Tyler's Portfolio</title>

    <link rel="stylesheet" 
    href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet"
    href="{% static 'main/css/noscript.css' %}">
    </head>

    <body>

<body class="is-preload">
  <!-- Page Wrapper -->


    {% block content %}

    {% endblock %}

    <!--Scripting-->
<script src="{% static 'main/jquery.min.js' %}"></script>
<script src="{% static 'main/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'main/browser.min.js' %}"></script>
<script src="{% static 'main/breakpoints.min.js' %}"></script>
<script src="{% static 'main/util.js' %}"></script>
<script src="{% static 'main/main.js' %}"></script>
    <!--Scripting end-->
</body>
</html>