{% extends 'main/base.html' %} {% load static %} {% block content %}

    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <div class="logo"><span class="icon fa-gem"></span></div>
        <h2>Tyler Amerson</h2>
        <p>Looking to work together? email me at tlamerson983@gmail.com</p>
      </div>
    </section>
    <!-- Wrapper -->
    <section id="wrapper">
      <!-- One -->
      <section id="one" class="wrapper spotlight style1">
        <div class="inner">
          <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
          <div class="content">
            <h2 class="major">Portfolio</h2>
            <p>Take a look at my project page!</p>
            <a href="{% url 'project2' %}" class="special"></a>
          </div>
        </div>
      </section>
      <!-- Two -->
      <section id="two" class="wrapper alt spotlight style2">
        <div class="inner">
          <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
          <div class="content">
            <h2 class="major">About Me</h2>
            <p>
              My name is Tyler, I've been programming for about a year now, My
              main languages, libraries and frameworks are below. But feel free
              to contact me with a specific request if you'd like to work
              together!
            </p>
          </div>
        </div>
      </section>
      <!-- Three -->

      <!-- Four -->
      <section id="four" class="wrapper alt style1">
        <div class="inner">
          <h2 class="major">My skills</h2>
          <p>
            I work across the full development stack, combining clean code,
            strong fundamentals, and modern tools. Here’s an overview of the
            technologies I use to build fast, reliable, production-ready
            applications.
          </p>
          <section class="features">
            <article>
              <a href="#" class="image"
                ><img src="images/pic04.jpg" alt=""
              /></a>
              <h3 class="major">Front-End Tools</h3>
              <p>HTML5, CSS3, Javascript (ES6+), React.js, Bootstrap.</p>
            </article>
            <article>
              <a href="#" class="image"
                ><img src="images/pic05.jpg" alt=""
              /></a>
              <h3 class="major">Back-End Tools</h3>
              <p>
                Node.js, Python, Django, Authentication & Authorization,
                Microservices
              </p>
            </article>
            <article>
              <a href="#" class="image"
                ><img src="images/pic06.jpg" alt=""
              /></a>
              <h3 class="major">Hosting & Database Tools</h3>
              <p>AWS, Azure, MongoDB, MySQL, ORMs, SQLite</p>
            </article>
            <article>
              <a href="#" class="image"
                ><img src="images/pic07.jpg" alt=""
              /></a>
              <h3 class="major">Additional Tools & Tech</h3>
              <p>Git/Github, Docker, Linux, Ubuntu, Cloud Architecture</p>
            </article>
          </section>
          <ul class="actions">
        </div>
      </section>
    </section>
    <!-- Footer -->
    <section id="footer">
      <div class="inner">
        <h2 class="major">Contact me!</h2>
        <form method="post" action="."> {% csrf_token %}
          <div class="fields">
            <div class="field">
              <label for="name">Name</label>
              {{ form.your_name }}
            </div>
            <div class="field">
              <label for="email">Email</label>
              {{ form.your_email }}
            </div>
            <div class="field">
              <label for="message">Message</label>
              {{ form.message }}
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send Message" /></li>
          </ul>
        </form>
        <ul class="contact">
          <li class="icon solid fa-home">
            Amerson Enterprise Services LLC<br />
            303 E Jackson st<br />
            Lamar, SC 29069-9771
          </li>
          <li class="icon solid fa-phone">+1 (843) 610-1932</li>
          <li class="icon solid fa-envelope">
            <a href="#">tlamerson983@gmail.com</a>
          </li>
          <li class="icon brands fa-facebook-f">
            <a href="https://www.facebook.com/tyler.amerson.644263/"
              >facebook</a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
</body>

{% endblock %}
