{% extends 'main/base.html' %} {% load static %} {% block content %}

<div class="page-wrapper">
<section id="banner">
	<div class="inner">
		<a href="#" class="image.me" >
          <img src="{% static 'images/main/me.jpg' %}" alt=""/>
		<h2>Tyler Amerson</h2>
		<p>Looking to work together?: tlamerson983@gmail.com</p>
	</div>
</section>

    <section id="two" class="wrapper alt spotlight style2">
      <div class="inner">
        <a href="#" class="image">
          <img src="" alt="" />
        </a>
        <div class="content">
          <h2 class="major">Tyler Amerson</h2>
          <p>Looking to work together?: tlamerson983@gmail.com</p>
          <a href="#" class="special"></a>
        </div>
      </div>
    </section>

    <h3>About me:</h3>
    <div class="divider"></div>
    <h4>
      My name is Tyler, I've been programming for about a year now, My main
      languages, libraries and frameworks are below. But feel free to contact me
      with a specific request if you'd like to work together!
    </h4>
  </div>
  <div>
    <h2>My skills</h2>
    <div class="divider"></div>
    <div class="flex_container">
      <div class="content_card">
        <h5>front-end</h5>
        <img src="{% static 'main/React-icon.png' %}" alt="cool img" />
        <p>I utilize React.js and css frameworks to develop my front-ends</p>
      </div>
      <div class="content_card">
        <h5>Back-end</h5>
        <img src="{% static 'main/Django-icon.png' %}" alt="cool img" />
        <p>
          Python, Django, Javascript, and Node.js glue together my project
          back-ends
        </p>
      </div>
      <div class="content_card">
        <h5>Databases</h5>
        <img src="{% static 'main/Mysql.png' %}" alt="cool img" />
        <p>
          My project databases often utilize Sqlite, Json, MySQL, or PostGreSQL.
        </p>
      </div>
    </div>
    <h3>My projects! <a>[Full list is a WIP]</a></h3>
    <div class="divider"></div>
    <div class="flex_container">
      <div class="content_card">
        <h5>Personal Business Website</h5>
        <a class="nav_link" href="{% url 'go_external' %}">link</a>
        <p>
          One of my first completed projects! Outdated but gets the job done!
        </p>
      </div>
      <div class="content_card">
        <h5>To-Do list</h5>
        <a class="nav_link" href="{% url 'go_external_2' %}">link</a>
        <p>A basic dynamic To-do list, quickly gets and posts data</p>
      </div>
      <div class="content_card">
        <h5>Personal Blog</h5>
        <a class="nav_link" href="{% url 'go_external_3' %}">link</a>
        <p>
          A blog i'll be updating with project updates and personal items
          regularly
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
