{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <div>
        <h2>
            Projects
        </h2>
        <div class="flex_container">
            <div class="content_card">
                <h5>
                    Django
                </h5>
                <img src="" alt="cool img">

                </img>
                <p>
                    some text on how awesome and cool and handsome i am
                </p>
            </div>
            <div class="content_card">
                <h5>
                    Django
                </h5>
                <img src="" alt="cool img">

                </img>
                <p>
                    some text on how awesome and cool and handsome i am
                </p>
            </div>
            <div class="content_card">
                <h5>
                    Django
                </h5>
                <img src="" alt="cool img">

                </img>
                <p>
                    some text on how awesome and cool and handsome i am
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}